server {
    listen 80;

    location /images {
        alias /var/www/yim-club/images;
    }

    location /static {
        alias /var/www/yim-club/static;
    }

    location / {
        proxy_pass http://localhost:2000;
    }
}
