{% extends 'base.html' %}
{% block title %}消息详情{% endblock %}
{% block main %}
    <div id="main">
        {% include 'sidebar.html' %}
        <div id='content'>
            <div class='panel'>
                <div class='header topic_header'>
                    <span class="topic_full_title">{{ mail.title }}</span>
                    <div class="changes">
                        <p>
                            发件人：
                            <a href="{{ url_for('index.user_detail',id=mail.sender_id) }}">
                                <strong>{{ mail.sender().username }}</strong></a>
                        </p>
                        <p>
                            时间：<strong class="created-time" data-created_time="{{ mail.created_time }}"></strong>
                        </p>
                        <p>
                            收件人：
                            <a href="{{ url_for('index.user_detail',id=mail.receiver_id) }}">
                                <strong>{{ mail.receiver().username }}</strong></a>
                        </p>
                    </div>
                </div>
                <div class='inner topic'>
                    <div class='topic_content'>
                        <div class="markdown-text">{{ mail.content }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}